[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
twine = "*"


[dev-packages]

bpython = "*"
pytest = "*"
pytest-cov = "*"
pytest-isort = "*"
"pytest-pep8" = "*"
codecov = "*"
isort = "*"
"pep8" = "*"


[requires]

python_version = "3.6"
